In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
ds=pd.read_csv("data.csv")

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [10]:
#we found problem in our opinion
# square_ft renge select 300 sq.-3000 sq.
#address split, city
#longitude ,lattitude

In [11]:
#remove columns
ds=ds.drop(columns=["LONGITUDE","LATITUDE"])

In [12]:
#outliers remove based on square_ft
for i in ds.index:
    if ds.loc[i,"SQUARE_FT"]>3000 or ds.loc[i,"SQUARE_FT"]<300:
        ds.drop(i,inplace=True)

In [13]:
#Outliers remove based on TARGET(PRICE_IN_LACS)
for i in ds.index:
    if ds.loc[i,"TARGET(PRICE_IN_LACS)"]>120 or ds.loc[i,"TARGET(PRICE_IN_LACS)"]<3:
        ds.drop(i,inplace=True)

In [38]:
for i in ds.index:
    ds.loc[i, "SQUARE_FT"] = round(ds.loc[i, "SQUARE_FT"], 2)

In [40]:
ds['CITY'] = ds['ADDRESS'].str.split(",").str.get(-1).str.strip()

In [44]:
for i in ds.index:
    address = ds.loc[i, "ADDRESS"]
    city = ds.loc[i, "CITY"]
    address = address.replace("," + city, "")
    ds.loc[i, "ADDRESS"] = address

In [46]:
ds.to_csv("cleaned_data.csv")